@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@media (prefers-color-scheme: light) {
  :root{
  --background: #f5e9d0;
  }
}
@media (prefers-color-scheme: dark) {
  :root{
    --background: #2f2c26;
    }
  
}
body {
  margin: 0;
}

.welcome_div {
  display:flex;
  width:100%;
  flex-flow: column nowrap;
  justify-content: center;
  /* left padding 2rem, right padding 2rem, bottom padding 2rem, top padding 0rem */
  padding: 0rem 2rem 2rem 2rem;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height:fit-content;
  background-color: var(--background);
}
