@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@media (prefers-color-scheme: light) {
  :root{
  --background: #f5e9d0;
  --main_div_text_color: #000000;
  --main_div_link_color: rgba(57, 57, 57,1);
  --scrolling : linear-gradient(0deg, #aaa08a, #aa9c7c );

  }
}
@media (prefers-color-scheme: dark) {
  :root{
    --background: #2f2c26;
    --main_div_text_color: #f5e9d0;
    --main_div_link_color: #d7d7d7;
    --scrolling : linear-gradient(0deg, #2f2c26, #665f4e);

    }
  
}
html, body {
  margin: 0;
  background: var(--background);
  overflow-x: hidden;
}


/* Define the animation */
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the text element */

.welcome_div {
  display: flex;
  width:100%;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  
  /* left padding 2rem, right padding 2rem, bottom padding 2rem, top padding 0rem */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 100vh;
  color: var(--main_div_text_color);
  background-color: var(--background);
  line-height: 1.2;
  margin: 0;
}
.welcome_div .items{
  margin: 0rem;
  padding: 0rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  transition: all 1s;

}
.animation{
  opacity: 0;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}
.welcome_div .sign_in_link{
  color: var(--main_div_link_color);
  transition: all linear 200ms;
  text-decoration: underline 0.1em rgba(0,0,0,0);

}
.welcome_div .sign_in_link:hover{
  text-decoration-color: var(--main_div_link_color);
  color: var(--main_div_text_color);
  transition: all easew 400ms;


}

.recommended{
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-transform: capitalize;
  background: var(--scrolling);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight:600;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.recommended .scrolling-div{
  background: none;
  background-attachment: scroll;
  font-size: 16px;
  width: 100%;

  overscroll-behavior: contain;
  scroll-behavior: smooth;

}
.recommended .scrolling-div, .recommended .card  {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  
}
.recommended .card {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-height: 15rem;
}
.recommended .image{
  border-radius: 1rem;
}

