@import url("https://fonts.googleapis.com/css?family=Poppins");

@media (prefers-color-scheme: light) {
  :root {
    --background: #f5e9d0;
    --main_div_text_color: #000000;
    --main_div_link_color: #393939;
    --placeholder_text: lightslategray;
    --preferences_text_color: #b49f89;
    --submit_button_bg: #756749;
    --submit_button_text: #000000;
    --submit_button_bg_hover: #7e735a;
    --submit_button_text_hover: #3a2f18;
    --submit_button_bg_active: #4a412e;
    --submit_button_text_active: #fefefe;
    --login_box_background: #ffffff;
    --login_box_text: #000000;
    --login_box_in_button: #4c4c4c;
    --login_box_in_button_text: #ded4c1;
    --login_box_in_button_hover: #2a2a2a;
    --login_box_in_button_text_hover: #ded4c1;
    --login_box_up_button: #ffffff;
    --login_box_up_button_text: #4c4c4c;
    --login_box_up_button_hover: #474747;
    --login_box_up_button_text_hover: #ab9d83;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f2c26;
    --main_div_text_color: #f5e9d0;
    --main_div_link_color: #d7d7d7;
    --placeholder_text: lightslategray;
    --preferences_text_color: #b49f89;
    --submit_button_bg: #756749;
    --submit_button_text: #000000;
    --submit_button_bg_hover: #988e79;
    --submit_button_text_hover: #3a2f18;
    --submit_button_bg_active: #4a412e;
    --submit_button_text_active: #fefefe;
    --login_box_background: #ffffff;
    --login_box_text: #000000;
    --login_box_up_button: #c4b8a0;
    --login_box_up_button_text: #4c4c4c;
    --login_box_up_button_hover: #ffffff;
    --login_box_up_button_text_hover: #000000;
    --login_box_in_button: #4c4c4c;
    --login_box_in_button_text: #ded4c1;
    --login_box_in_button_hover: #2a2a2a;
    --login_box_in_button_text_hover: #ded4c1;
    --login_box_button_hover: #aba18f;
  }
}


body{
  background-color: var(--background);
  width: 100%;
  margin-top: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
}
/* 
.entry{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: bold;
} */
html, body {
  margin: 0;
  background: var(--background);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 1s ease;
}

.page_container{
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
    min-width: 500px;
    border: None;
    border-radius: 1rem;
    text-align: center;
    margin: 0;
    margin-top: 35rem;
    padding-top: 0rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    display: block;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 5px 4px var(--shadow);
    -moz-box-shadow: 0px 0px 5px 4px var(--shadow);
    box-shadow: 0px 0px 5px 4px var(--shadow);
}

.page_container{
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
    min-width: 500px;
    border: None;
    border-radius: 1rem;
    text-align: center;
    margin: 0;
    margin-top: 35rem;
    padding-top: 0rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    display: block;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 5px 4px var(--shadow);
    -moz-box-shadow: 0px 0px 5px 4px var(--shadow);
    box-shadow: 0px 0px 5px 4px var(--shadow);
}

.columns {
  display: flex;
  position:relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.column {
  margin: 1vw;
  background-color: var(--column-bg-color);
  border-radius: 1vw;
  width: 48vw;
  float: left;
  color: #b49f89;
  font-size: 2rem;
  flex-flow: column wrap;
  opacity: 100;
  padding-left: 2rem;
}

.heading {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.dark_button{
  height: 3rem;
  width: 4.5rem;
  padding: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  background-color: var(--login_box_up_button);
  color: var(--login_box_up_button_text);
}


.light_button{
  height: 3rem;
  width: 4.5rem;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: 0;
  background-color: var(--login_box_up_button);
  color: var(--login_box_up_button_text);
}

.system_button{
  border-radius:0;
  height: 3rem;
  width: 4.5rem;
  padding: 0;
  background-color: var(--login_box_up_button);
  color: var(--login_box_up_button_text);
}

.theme_button_container{
  display: flex;
  justify-content: start;
}

.name_inputs_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.input_label {
  text-align: left;
  font-size: 1.52rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.dropdown {
  visibility: hidden;
}

input {
  width: 30rem;
  height: 2rem;
  border-radius: 0.5rem;
  border-width: 0.01rem;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
}

input::placeholder {
  color: var(--placeholder_text);
  opacity: 0.5;
}

.submit_button {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border-radius: 2rem;
  border: none;
  /* left and right padding =1rem top and bottom padding = 0.5rem */
  padding: 0.25rem 1.5rem;
  transition: all linear 0.3s;
}
.submit_button:hover{
  color: var(--submit_button_text_hover);
  background-color: var(--submit_button_bg_hover);
}
.submit_button:active{
  color: var(--submit_button_text_active);
  background-color: var(--submit_button_bg_active);

}



.triple-button {
  display: flex;
  width:fit-content;
  border: none;
  padding:0;
  border-radius: 3vw;
  transition: background-image 1s linear;
  margin: 1vh 0 1vh 0;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);

}
.theme-button{
  padding:0;
  margin:0;
  background-color: transparent;
}
.theme-button button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 20%;
  font-size: 1.5vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin:0;
  padding: 0.75vw 2.25vw 0.75vw 2.25vw;
  color: var(--theme-button-color);
}



.x{
  
  background-image: linear-gradient(90deg, var(--theme-not-selected) 0%, var(--theme-half-selected) 33.33%, var(--theme-selected) 66.66%, var(--theme-selected) 100%);
  transition: background-image 1s linear;
}
.x:hover{
  background-image: linear-gradient(90deg, var(--theme-selected) 0%, var(--theme-selected) 33.33%, var(--theme-half-selected) 66.66%, var(--theme-not-selected) 100%);
}
.x:active{
  background-image: linear-gradient(90deg, var(--theme-not-selected) 0%, var(--theme-selected) 33.33%, var(--theme-selected) 66.66%, var(--theme-not-selected) 100%);

}
