@import url("https://fonts.googleapis.com/css?family=Poppins");

button,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: bold;
}
button {
  border: none;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
}


.entry{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: bold;
}


.column{
  width : 50%;
  float: left;
  color: #b49f89;
  font-size : 20px;
}

/* Themes */
@media (prefers-color-scheme: light) {

  /* button {
    background: #38383b;
    color: #c6bead;
  }
  button :hover{
    background: #57575c;
    color: #c6bead;
  }
  button:active{
    background: #867550;
    color: #c6bead;
  } */
}
@media (prefers-color-scheme: dark) {
  body,option {
    background: #38383b;
    color: #c6bead;
  }
  /* button {
    background: #c6bead;
    color: #38383b;
  }
  button:hover{
    background: #ada28a;
    color: #c6bead;
  } */
  /* button:active{
    background: #867550;
    color: #c6bead;
  } */

}
